Source: libagentcrypt
Section: libs
Priority: optional
Maintainer: Nicola Di Lieto <nicola.dilieto@gmail.com>
Build-Depends: debhelper (>= 10), autoconf-archive, pkg-config,
               libsodium-dev (>= 1.0.16), asciidoc, docbook-xml,
               docbook-xsl, libxml2-utils, xsltproc, doxygen
Standards-Version: 4.3.0
Homepage: https://github.com/ndilieto/libagentcrypt
Vcs-Git: https://github.com/ndilieto/libagentcrypt
Vcs-Browser: https://github.com/ndilieto/libagentcrypt

Package: libagentcrypt0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Suggests: libagentcrypt-bin
Description: Symmetric encryption with SSH Agent
 libagentcrypt allows using the keys in the SSH Agent to perform symmetric,
 authenticated encryption and decryption securely without typing passwords.
 .
 It works with both RSA and ED25519 SSH keys including those made available
 to a remote host by SSH Agent forwarding.

Package: libagentcrypt-dev
Section: libdevel
Depends: ${misc:Depends}, libagentcrypt0 (= ${binary:Version})
Architecture: any
Multi-Arch: same
Description: Symmetric encryption with SSH Agent - headers
 libagentcrypt allows using the keys in the SSH Agent to perform symmetric,
 authenticated encryption and decryption securely without typing passwords.
 .
 It works with both RSA and ED25519 SSH keys including those made available
 to a remote host by SSH Agent forwarding.
 .
 This package provides development headers needed for applications that use
 libagentcrypt.

Package: libagentcrypt-bin
Section: net
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Multi-Arch: foreign
Description: Symmetric encryption with SSH Agent - command line utility
 libagentcrypt allows using the keys in the SSH Agent to perform symmetric,
 authenticated encryption and decryption securely without typing passwords.
 .
 It works with both RSA and ED25519 SSH keys including those made available
 to a remote host by SSH Agent forwarding.
 .
 This package provides the 'agentcrypt' command line utility
